@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap');

@font-face {
    font-family: "NEW LED";
    src: url("../fonts/new_led.ttf") format("truetype");
}

.header {
    height: 40%;
    background: rgb(16, 18, 39);
    background: linear-gradient(to top, rgb(16, 18, 39) , rgb(0, 0, 0));
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title-box {
    overflow: hidden;
    font-size: 14px;
    padding: 5px;
    white-space: nowrap;
    color: rgb(71, 71, 255);
    font-family: "NEW LED"
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box img {
    width: 20px;
    height: auto;
    margin: 10px;
}

.variable-box {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: yellowgreen !important;
    font-size: 30px;
}

.msg-box {
    font-family: "Courier New";
    font-size: 14px;
    font-style: italic;
    color: greenyellow;
}

.msg-box a {
    text-decoration: none;
    color: inherit !important;
}