
.settings-container {
    padding-top: 10px;
    text-align: center;
}

.settings-container input {
    width: 150px;
    margin: 10px auto;
    padding: 10px;
    display: block;
    text-align: center;
}

.settings-container select {
    margin: 10px auto;
    padding: 10px;
    display: block;
    text-align: center;
}